.dedecks {
  background-color: rgb(107, 183, 233);
}
.decksheading {
  font-weight: 600;
}
.imagemove {
  margin-top: 14px;
}
/* https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwebstockreview.net%2Fimages%2Fcard-clipart-deck-6.png&f=1&nofb=1&ipt=58cc5fcc2b7f16cb13e3dc1ab0c5e5c7e6fd503f3568cf9df190616aedc3ac00&ipo=images */
